.titlebar-spacer{display:none!important;}
#tabbrowser-tabs{border-inline-start: none !important;}
#private-browsing-indicator-with-label{ display: none !important; }

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    margin-inline-start: 0 !important;
}

